*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
}

header .menu{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin-top: 15px;
    position: relative;
    left: 100px;
    width: 40%;
}
header .text-header{
    font-family: 'Dancing Script', cursive;
    color: white;
    font-style: italic;
    font-size: 25px;
    
}
header ul li a{
    text-decoration: none;
    color: white;
}
header ul:nth-child(2){
    color: yellow !important;
}
header ul li a:hover{
    color: yellow;
    text-decoration: none;
}
.btn{
    border-radius: 25px !important; 
    color: white !important;
}
header .icon-order i{
    margin-right: 8px;
    color: white;
}
header .icon-order i:hover{
    color: yellow;
}
.moldalFom{
    border-radius: 15px !important;
    border-color: rgb(218, 218, 6) !important;
}
main{
    height: 500px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 40px;
}
.container .title h1{
    font-family: "Dancing Script", cursive;
}
.container .select-menu ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.container .select-menu ul li{
    margin-right: 20px; 

}
.container .select-menu ul li a{
    text-decoration: none;
    font-size: 18px;
    color: black;
}
.active{    
    border-radius: 20px;
    background-color: black;
    color: white !important;
}
.imgF123{
    border-bottom-left-radius: 45px;
    background-color: #f1f2f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    overflow: hidden;
}
.imgF123 img{
    width: 170px;
    transition: all .2s;
    object-fit: cover;

}
.imgF123 img:hover{
    transform: scale(1.1);
}
.card{
    border-radius: 15px !important;
    overflow: hidden;
    border: 0 !important;
}
