*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

header .menu{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin-top: 15px;  
    width: 40%;
    position: relative;
    left: 100px;
}
header .text-header{
    font-family: 'Dancing Script', cursive;
    color: white;
    font-style: italic;
    font-size: 25px;
    
}
header ul li a{
    text-decoration: none;
    color: white;
}
header ul li a:hover{
    color: yellow;
    text-decoration: none;
}
.btn{
    border-radius: 25px !important; 
    color: white !important;
}
header .icon-order i{
    margin-right: 8px;
    color: white;
}
header .icon-order i:hover{
    color: yellow;
}
main{
    height: 500px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .content{
    margin-top: 200px;

}
main .content h1{
    color: white;
    font-family: 'Dancing Script', cursive;
    font-style: italic;
    font-size: 47px;
}
main .content p{
    width: 50%;
    color: white;
}
.moldalFom{
    border-radius: 15px !important;
    border-color: rgb(218, 218, 6) !important;
}